*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-Open-Sans);
    font-weight: var(--fw-regular);
}

:root{
    /* primary color */
    --Very-Dark-Blue: hsl(243, 87%, 12%);
    --Desaturated-Blue: hsl(238, 22%, 44%);

    /* accent color */
    --Bright-Blue: hsl(224, 93%, 58%);
    --Moderate-Cyan: hsl(170, 45%, 43%);

    /* natural color */
    --Light-Grayish-Blue: hsl(240, 75%, 98%);
    --Light-Gray: hsl(0, 0%, 75%);

    /* font family */
    --ff-Raleway: 'Raleway', sans-serif;
    --ff-Open-Sans: 'Open Sans', sans-serif;

    /* font waite */
    --fw-regular: 400;
    --fw-bold: 700;
}

body{
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*--------------- Header ----------------*/

.header{
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5vw;
}

/*--- logo ---*/
.header__logo-a{
    text-decoration: none;
}

.header__logo-img{
    display: block;
    width: 11rem;
}

/*--- links ---*/

.header__link{
    text-decoration: none;
    font-size: 1rem;
    color: var(--Desaturated-Blue);
    margin-left: 1.7rem;
}

.header__link:nth-child(1){
    margin-left: 0;
}


/*--------------- Main ----------------*/
.main{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*--------------- Banner ----------------*/
.main__banner{
    background-color: transparent;
    width: min(90rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw 17rem  5vw;
    background-image: url(../img/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

/*--- left ---*/
.banner__left{
    width: 55%;
}

.main__h1{
    font-size: 2.5rem;
    font-family: var(--ff-Raleway);
    font-weight: var(--fw-bold);
    color: var(--Very-Dark-Blue);
    line-height: 1.5;
    max-width: 27ch;
}

.main__p{
    font-size: 1rem;
    color: var(--Very-Dark-Blue);
    margin-top: 1.5rem;
    max-width: 57ch;
}

/* form */
.banner__form{
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#email{
    width: 18rem;
    height: 2.6rem;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
}

.submit-btn{
    width: 11rem;
    height: 2.6rem;
    border: none;
    font-size: .9rem;
    background-color: var(--Bright-Blue);
    border-radius: .2rem;
    color: var(--Light-Grayish-Blue);
    font-family: var(--ff-Raleway);
    font-weight: var(--fw-bold);
    cursor: pointer;
    margin-left: 1rem;
    transition: .3s;
}

.submit-btn:hover{
    opacity: .9;
}

/*--- right ---*/
.banner__right{
    width: 45%;
}

.banner__img{
    width: 100%;
    display: block;
}


/*--------------- Work ----------------*/
.main__work{
    background-color: #f9f8fe;
    width: min(90rem, 100%);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 5vw 5rem 5vw;
}

/*--- left ---*/
.work__left{
    background-color: transparent;
    width: 60%;
    align-self: flex-start;
}

.work__p{
    margin-top: 1rem;
}

/* link */
.work__left-link{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    color: var(--Moderate-Cyan);
    border-bottom: 1px solid var(--Moderate-Cyan);
    margin-top: 1rem;
    transition: .3s;
}

.work__left-link:hover{
    opacity: .8;
}

.work__link-img{
    display: block;
    margin-left: .5rem;
}

/* card */
.work__card{
    position: relative;
    width: fit-content;
    background-color: transparent;
    box-shadow: 0 5px 30px 3px rgba(0, 0, 0, 0.1);
    margin-top: 2.5rem;
    padding: 1.7rem 2rem;
    border-radius: .5rem;
}

.card__quotes-img{
    display: block;
}

.card__p{
    max-width: 36ch;
    margin-top: .8rem;
    font-size: .8rem;
    color: var(--Desaturated-Blue);
}

.card__hero-img{
    display: inline-block;
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-top: 1rem;
}

.card__name{
    display: inline-block;
    font-size: .8rem;
    position: absolute;
    bottom: 3.2rem;
    left: 5rem;
    color: var(--Very-Dark-Blue);
    font-family: var(--ff-Raleway);
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

.card__title{
    display: inline-block;
    font-size: .7rem;
    position: absolute;
    bottom: 2.2rem;
    left: 5rem;
    color: var(--Desaturated-Blue);
}

/*--- right ---*/
.work__right{
    background-color: transparent;
    width: 40%;
    margin-left: 2rem;
}

.work__right-img{
    width: 100%;
    display: block;
}






/*-------------------- RESPONSIVE --------------*/

@media(max-width: 1440px){
    /*--------------- Header ----------------*/
    .header{
        padding: 3vw 5vw;
    }

    /*--- logo ---*/
    .header__logo-a{
        margin: .5rem 0;
    }

    .header__logo-img{
        width: 100%;
        min-width: 6rem;
    }
}


@media(max-width: 1185px){
    /*--------------- Banner ----------------*/
    .main__h1{
        font-size: 2rem;
    }
}


@media(max-width: 1080px){
    /*--------------- Banner ----------------*/

    /* form */
    .banner__form{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .submit-btn{
        margin-left: 0;
        margin-top: 1rem;
    }

    /*--- right ---*/
    .banner__img{
        margin-left: 1rem;
    }
}


@media(max-width: 948px){
    /*--------------- Banner ----------------*/
    .main__h1{
        font-size: 1.5rem;
    }

    .main__p{
        font-size: .9rem;
    }
}


@media(max-width: 809px){
    /*--------------- Banner ----------------*/
    .main__banner{
        flex-direction: column-reverse;
        padding-top: 3rem;
    }

    /*--- left ---*/
    .banner__left{
        width: 100%;
        text-align: center;
    }

    .main__h1{
        margin-top: 2.5rem;
        margin-inline: auto;
    }

    .main__p{
        margin-inline: auto;
        max-width: 70ch;
    }

    /* form */
    .banner__form{
        width: 100%;
        align-items: center;
        margin-top: 2rem;
    }

    #email, .submit-btn{
        width: min(25rem, 100%);
    }

    /*--- right ---*/
    .banner__right{
        width: 100%;
    }

    .banner__img{
        margin-inline: auto;
        width: min(25rem, 100%);
    }

    /*--------------- Work ----------------*/
    .main__work{
        flex-direction: column-reverse;
    }

    /*--- left ---*/
    .work__left{
        width: 100%;
        text-align: center;
    }

    .work__h1{
        margin-top: 6rem;
    }

    .work__left-link{
        margin-inline: auto;
    }

    /* card */
    .work__card{
        text-align: left;
        margin-inline: auto;
    }

    /*--- right ---*/
    .work__right{
        width: 100%;
        margin-left: 0;
    }

    .work__right-img{
        width: min(25rem, 100%);
        margin-inline: auto;
    }

}


@media(max-width: 576px){
    /*--------------- Header ----------------*/

    /*--- logo ---*/
    .header__logo-img{
        width: 5rem;
    }

    /*--- links ---*/
    .header__link{
        margin-left: 1rem;
        font-size: .8rem;
    }

    /*--------------- Banner ----------------*/
    .main__banner{
        padding: 0 5vw 10rem 5vw;
    }
}


@media(max-width: 375px){
    /*--------------- Banner ----------------*/
    .main__banner{
        background-image: url(../img/bg-curve-mobile.svg);
    }
}